*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins',sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    
}
.logo img{
    width: 125px;
} 
nav{
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
    
}
nav ul li {
   display: inline-block;
   margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color:#555;
}
    


.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.col-2{
    flex-basis: 42%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
display: inline-block;
background-color: #ff523b;
padding:8px 30px ;
margin: 38px 0;
color: #fff;
border: 38px;
border-radius: 20px;
transition: 0.5ms ease-in-out ;
}

.btn:hover{
    background-color: #563434;
}

.header{
    background:radial-gradient(#fff,#ffd6d6);
    
}

.header .row{
    margin-top: 70px;
}
.categorie{
margin:70px 0;

}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width:100%;
} 

.Container{
     max-width:1080px;
     margin: Auto;
     padding-left:25px ;
}

.col-4{
    flex-basis: 25px;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: 0.5s ;
}

.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0  auto 80px;
    line-height: 60px;
    color: #555;
    position: relative;
}

.title::after{
    content: '';
    background:#ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
color: #555;
font-weight: normal;
}
 
.col-4 p{
  font-size: 14px;
}

.star .fa{
    color: #ff523b;

}
.col-4::hover{
    transform: translateY(-5px);
}
